#root {
    text-align: center;
    color: #001D6C;
}

.active-menu-link {
    border-bottom: 2px solid #001D6C;
}

nav {
    border-bottom: 1px solid #DDE1E6;
    display: flex;
    padding: 0 32px;
    align-items: center;
    justify-content: space-between;
}

nav a,
nav a:visited,
nav a:active {
    text-decoration: none;
    color: #001D6C;
}

h1, h2, h3 {
    color: #001D6C;
}

button {
    color: white;
    margin-right: 5px;
    background: #001D6C;
    border: 2px solid #001D6C;
}

ul, li {
    list-style: none;
}

.error {
    color: red;
}

.logoName {
    color: #A6C8FF;
}

.recipeCard {
    /*border: 2px solid #DDE1E6;*/
    padding: 10px;
    margin-bottom: 10px;
}